<!DOCTYPE html>
<html>
<head>
    <title>Songs</title>
</head>
<body>
    <h1>Songs</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Danceability</th>
                <th>Energy</th>
                <th>Key</th>
                <th>Loudness</th>
                <th>Mode</th>
                <th>Speechiness</th>
                <th>Acousticness</th>
                <th>Instrumentalness</th>
                <th>Liveness</th>
                <th>Valence</th>
                <th>Tempo</th>
                <th>Duration (ms)</th>
            </tr>
        </thead>
        <tbody>
            {% for song_name, features in zip(song_names, audio_features) %}
            <tr>
                <td>{{ song_name }}</td>
                <td>{{ features.danceability }}</td>
                <td>{{ features.energy }}</td>
                <td>{{ features.key }}</td>
                <td>{{ features.loudness }}</td>
                <td>{{ features.mode }}</td>
                <td>{{ features.speechiness }}</td>
                <td>{{ features.acousticness }}</td>
                <td>{{ features.instrumentalness }}</td>
                <td>{{ features.liveness }}</td>
                <td>{{ features.valence }}</td>
                <td>{{ features.tempo }}</td>
                <td>{{ features.duration_ms }}</td>
            </tr>
            {% endfor %}

        </tbody>
    </table>

    <table>
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>
     {% if results %}
    <h2>Accuracy vs. K Value</h2>
    <img src="{{ url_for('static', filename='accuracy_plot.png') }}" alt="Accuracy Plot">
    {% endif %}
    <form action="{{ url_for('get_song_data') }}" method="POST">
        <input type="text" name="song_url" placeholder="Enter song name">
        <input type="submit" value="Get Song Data">
    </form>
</body>
</html>

